# --- Python bytecode/caches (anywhere) ---
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# --- Virtual environments (Windows & common names) ---
.venv/
venv/
env/

# --- Tools/IDE ---
.vscode/
*.code-workspace
.idea/

# --- OS junk ---
.DS_Store
Thumbs.db

authentication/
__pycache__/